{
  "extends": "airbnb",
  "rules": {
    "no-alert": "off",
    "no-console": "off",
    "prefer-arrow-callback": "off",
    "func-names": "off",
    "arrow-parens": ["error", "as-needed"]
  },
  "env": {
    "browser": true
  }
}
